table {
    border: 1px solid #aaaaaa;
    border-collapse: collapse;
}

th, td {
    width: 150px;
    border: 1px solid #aaaaaa;
    border-collapse: collapse;
}

td {
    height: 200px;
}

.plan {
    display: inline-block;
    border: 1px solid black;
    background-color: lightgray;
    width: 100px;
    margin: 5px;
}