table {
    border: 1px solid #aaaaaa;
    border-collapse: collapse;
}

th, td {
    width: 150px;
    border: 1px solid #aaaaaa;
    border-collapse: collapse;
}

td {
    height: 200px;
}

.plan {
    display: inline-block;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    background-color: lightgray;
    padding: 0px 20px 0px 20px;
}