table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    padding: 1px;
    box-sizing: content-box;
}

img {
    height: 100px;
    width: 100px;
}